flows.json
[{"id":"1b4d5ef2.30e571","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"75943004.bea76","type":"ibmiot in","z":"1b4d5ef2.30e571","authentication":"apiKey","apiKey":"5ef0f31c.aa683c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"54321","applicationId":"","deviceType":"Externship","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":120,"wires":[["a5df0811.6a19d8","f0411114.122dc","3eeae27d.55bbce","6ff334a9.93dc0c"]]},{"id":"3eeae27d.55bbce","type":"debug","z":"1b4d5ef2.30e571","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":120,"wires":[]},{"id":"a5df0811.6a19d8","type":"function","z":"1b4d5ef2.30e571","name":"id","func":"global.set('id',msg.payload.d.employeeid)\nmsg.payload=msg.payload.d.employeeid\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":60,"wires":[["e420eaa7.73dcb8"]]},{"id":"f0411114.122dc","type":"function","z":"1b4d5ef2.30e571","name":"latitude","func":"global.set('lat',msg.payload.d.latitude)\nmsg.payload=msg.payload.d.latitude\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["99afc651.e7dcd8"]]},{"id":"c07344fe.139278","type":"http in","z":"1b4d5ef2.30e571","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":200,"y":380,"wires":[["2c255e92.177822"]]},{"id":"c36d16b0.5e3088","type":"http response","z":"1b4d5ef2.30e571","name":"","statusCode":"","headers":{},"x":650,"y":400,"wires":[]},{"id":"e420eaa7.73dcb8","type":"ui_text","z":"1b4d5ef2.30e571","group":"28a23708.6dbf98","order":1,"width":10,"height":1,"name":"","label":"employee id","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":40,"wires":[]},{"id":"99afc651.e7dcd8","type":"ui_text","z":"1b4d5ef2.30e571","group":"28a23708.6dbf98","order":3,"width":10,"height":1,"name":"","label":"latitude","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":200,"wires":[]},{"id":"2c255e92.177822","type":"function","z":"1b4d5ef2.30e571","name":"","func":"msg.payload = {\n\"employeeid\" : global.get('id'),\n\"latitude\" : global.get('lat'),\n\"longitude\" :  global.get('lon'),\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":400,"wires":[["c36d16b0.5e3088"]]},{"id":"6ff334a9.93dc0c","type":"function","z":"1b4d5ef2.30e571","name":"longitude","func":"global.set('lon',msg.payload.d.longitude)\nmsg.payload=msg.payload.d.longitude\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":280,"wires":[["f41b7e8b.a46c8"]]},{"id":"f41b7e8b.a46c8","type":"ui_text","z":"1b4d5ef2.30e571","group":"28a23708.6dbf98","order":5,"width":10,"height":1,"name":"","label":"longitude","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":280,"wires":[]},{"id":"5ef0f31c.aa683c","type":"ibmiot","name":"API KEY","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"28a23708.6dbf98","type":"ui_group","name":"sensor data","tab":"8750b0b5.abeaa","order":1,"disp":true,"width":20,"collapse":false},{"id":"8750b0b5.abeaa","type":"ui_tab","name":"tracking automation","icon":"dashboard","disabled":false,"hidden":false}]